<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desbordadas</title>
</head>
<body>
    <h1>Futuras Desbordadas</h1>
    {{{body}}}

    
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</body>
</html>

