{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="messages">
        {{#each messages}}
            <p><strong>{{this.user}}:</strong> {{this.text}}</p>
        {{/each}}
    </div>
    <form id="messageForm">
        <input type="text" id="user" placeholder="User" required>
        <input type="text" id="text" placeholder="Message" required>
        <button type="submit">Send</button>
    </form>
    <script>
        $(document).ready(function() {
            const socket = io();

            socket.on('messages', (messages) => {
                $('#messages').html('');
                messages.forEach((msg) => {
                    $('#messages').append(`<p><strong>${msg.user}:</strong> ${msg.text}</p>`);
                });
            });

            $('#messageForm').submit((e) => {
                e.preventDefault();
                const user = $('#user').val();
                const text = $('#text').val();
                socket.emit('newMessage', { user, text });
                $('#text').val('');
            });
        });
    </script>
</body>
</html> --}}
<div id="chat-container">
  <div id="chat-window">
    <div id="output"></div>
    <div id="actions"></div>
  </div>
  <input type="text" id="message" placeholder="message" />
  <button id="send">Send</button>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="js/index.js"></script>