  <div id="boxProfile">
            <h1 id="profileTitle">Bienvenido!</h1>
    <div id="profileContainer">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <form action="/users/logout" method="POST">
        <button type="submit" id="profileButton">Cerrar sesión</button>
        </form>
    </div>

  </div>
