<diV>
    <form action="/users/register" method="post">
  <placeholder>Nombre</placeholder></label><input type="text" name="first_name" id="" />
  <placeholder>Apellido</placeholder><input type="text" name="last_name" id="" />
  <placeholder>Mail</placeholder></label> <input type="text" name="email" id="" />
  <placeholder>Edad</placeholder><input type="number" name="age" id="" />
  <placeholder>Contraseña</placeholder> <input type="password" name="password" id="" />
  <input type="submit" value="REGISTER">
</form>


</diV>