<diV id="boxRegister">
  <div id="boxFormContainer">
        <form action="/users/register" method="post" id="formRegister">
  <placeholder>Nombre</placeholder></label><input type="text" name="first_name" id="first_name" />
  <placeholder>Apellido</placeholder><input type="text" name="last_name" id="last_name" />
  <placeholder>Mail</placeholder></label> <input type="text" name="email" id="email" />
  <placeholder>Edad</placeholder><input type="number" name="age" id="age" />
  <placeholder>Contraseña</placeholder> <input type="password" name="password" id="password" />
  <button type="submit" value="REGISTER" id="registerButton">Register</button>
</form>
  </div>



</diV>