<div><h3>Desbordadas</h3>
<p>Agregar productos</p>
</div>
<div>
    <form id="form">
    <label for="Product:"></label><input type="text" name="name" id="name">
    <label for="Price:"></label><input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>
</div>

<div>
<p id="products"></p>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>