
<div id="box-container">
    <div>
            <form id="form">
    <p>Agregar productos</p>
    <placeholder>name</placeholder><label for="Product:"></label><input type="text" name="name" id="name">
    <placeholder>price</placeholder><label for="Price:"></label><input type="number" name="price" id="price">
    <placeholder> description</placeholder><label for="Description"></label><input type="text" name="description" id="description">
    <placeholder>stock</placeholder><label for="Stock"></label><input type="number" name="stock" id="stock"> 
    <button type="submit" value="SEND" class="agregarBtn">Agregar Producto</button>
</form>
    </div>

<div>
<p id="products">{{{productsHtml}}}</p>

</div>


    <div id="divDelete">
        <form id="deleteProductForm" class="deleteForm">
            <label for="productId">Product ID:</label>
            <input type="text" id="productId" name="productId" required>
            <button type="submit" class="deleteBtn">Eliminar Producto</button>
        </form>
    </div>
</div>





    
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>